@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="js/vendor/select2/select2.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body class="welcome">
<div class="wrapper">
    <div class="section">
        <div class="bg"></div>
        <div class="texto1"></div>
        <div class="container">
            <div class="slogan"></div>
            <div class="select">
                <div class="arrow"></div>
                <input type="text" class="country" name="country"/>
                <!--<select class="country" name="country">-->
                    <!--<option value="0">Elige tu país</option>-->
                    <!--<option value="1">Elige tu país</option>-->
                    <!--<option value="2">Elige tu país</option>-->
                <!--</select>-->
            </div>
        </div>
    </div>
</div>
    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script src="js/vendor/select2/select2.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/main.js"></script>



<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>
</body>
</html>
