@{
    ViewBag.Title = "PasaLaVoz";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <!--[if IE 8]>
    <script src="js/html5.js" type="text/javascript"></script>
     <link href="css/ie_style.css" rel="stylesheet" type="text/css" />
    <![endif]-->

</head>
<div class="page_spinner"></div>
<body class="rules">
<div class="wrapper">
    <div id="sections">
        <section class="section video">
            <div class="bg"></div>
            <div class="container">
                <div class="header">
                    <div class="slogan"></div>
                    <div class="logo"></div>
                </div>
                <div class="medium">
                    <div class="phrase">
                        <a class="video" href="javascript:void(0)"></a>
                        <a class="ascensorLink ascensorLink2 create" id="galeria" href="javascript:void(0)"></a>
                    </div>

                </div>
            </div>
        </section>
        <section class="section create">
            <div class="bg"></div>
            <div class="container">
                <div class="header">
                    <div class="elementvideo">
                        <a class="ascensorLink ascensorLink1 video" id="svideo" href="#"></a>
                    </div>
                   
                     <div class="elements">
                        <div class="slogan"></div>
                        
                        <a class="create" href="javascript:void(0)"></a>
                         <div class="mensajetop">Elige y comparte la regla que más te guste</div>
                    </div>
                    <div class="form">
                        <form class="form-message">
                            <textarea name="your-message" id="your-message" maxlength="120"></textarea>
                        </form>
                    </div>
                      <div class="mensajetop2" style="display:none">Elige un diseño para tu regla</div>
                </div>
                <div class="medium">
                    <div class="wrap-examples">
                        <div class="examples">
                            <div class="group">
                            <div class="wrap-element">
                                <div class="element custom model-1 position-1" data-type="1">
                                    <div class="text">bailar los 365 días del año</div>
                                    <div class="share"></div>
                                </div>
                            </div>
                            <div class="wrap-element">
                                <div class="element custom model-2 position-2" data-type="2">
                                    <div class="text">bailar los 365 días del año</div>
                                    <div class="share"></div>
                                </div>
                            </div>
                            <div class="wrap-element big">
                                <div class="element custom model-3 position-3" data-type="3">
                                    <div class="text">bailar los 365 días del año</div>
                                    <div class="share"></div>
                                </div>
                            </div>
                        </div>
                            <div class="group">
                            <div class="wrap-element">
                                <div class="element custom model-4 position-1" data-type="4">
                                    <div class="text">bailar los 365 días del año</div>
                                    <div class="share"></div>
                                </div>
                            </div>
                            <div class="wrap-element">
                                <div class="element custom model-5 position-2" data-type="5">
                                    <div class="text">bailar los 365 días del año</div>
                                    <div class="share"></div>
                                </div>
                            </div>
                            <div class="wrap-element">
                                <div class="element custom model-6 position-3" data-type="6">
                                    <div class="text">bailar los 365 días del año</div>
                                    <div class="share"></div>
                                </div>
                            </div>
                        </div>
                            <div class="group">
                            <div class="wrap-element">
                                <div class="element custom model-7 position-1" data-type="7">
                                    <div class="text">bailar los 365 días del año</div>
                                    <div class="share"></div>
                                </div>
                            </div>
                            <div class="wrap-element">
                                <div class="element custom model-8 position-2" data-type="8">
                                    <div class="text">bailar los 365 días del año</div>
                                    <div class="share"></div>
                                </div>
                            </div>
                            <div class="wrap-element">
                                <div class="element custom model-9 position-3" data-type="9">
                                    <div class="text">bailar los 365 días del año</div>
                                    <div class="share"></div>
                                </div>
                            </div>
                        </div>
                            <div class="group">
                            <div class="wrap-element">
                                <div class="element custom model-10 position-1" data-type="10">
                                    <div class="text">bailar los 365 días del año</div>
                                    <div class="share"></div>
                                </div>
                            </div>
                            <div class="wrap-element">
                                <div class="element custom model-1 position-2" data-type="1">
                                    <div class="text">bailar los 365 días del año</div>
                                    <div class="share"></div>
                                </div>
                            </div>
                            <div class="wrap-element">
                                <div class="element custom model-2 position-3" data-type="2">
                                    <div class="text">bailar los 365 días del año</div>
                                    <div class="share"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="navigation">
                            <a class="prev" href="javascript:void(0)"></a>
                            <a class="next" href="javascript:void(0)"></a>
                        </div>
                        <div class="message"><!--<input class="search" name="search" type="text"/>--></div>
                    </div>
                    <div class="message"></div>
                </div>
            </div>
            <div class="bottom">
                <div class="bmain">
                    <a href="/pasalavoz#/Video" class="inicio"></a>
                    <a href="https://www.thunderclap.it/es" target="_blank" class="thundeclap"></a>
                    <div class="contenface"><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Faandresortiz.cloudapp.net%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21&amp;appId=1377608895787607" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowtransparency="true"></iframe>
                    </div>
                    <div class="mred1">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://aandresortiz.cloudapp.net/" data-lang="es" data-hashtags="pasalavoz">Twittear</a>
                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                    </div>
                    <a href="https://www.thunderclap.it/es" target="_blank" class="accionaqui"></a>
                
                    <div class="wrap alterno1">pasalavoz © todos los derechos reservados 2014</div>
                </div>
            </div>
        </section>
    </div>
    <div class="wrap-overlay">
        <div class="overlay"></div>
        <div class="window login">
            <div class="title"></div>
            <div class="login-facebook">
                <a class="connect" href="javascript:void(0)"></a>
                regístrate con tu cuenta de facebook
            </div>
            <div class="or">
                o
            </div>
            <div class="login-email">
                <div class="form">
                    <form class="login-action">
                        INGRESANDO TU CORREO:
                        <input class="email required email" type="text" placeholder="Correo electrónico"/>
                        <a class="continue" href="javascript:void(0)"></a>
                        <a class="no-registration" href="javascript:void(0)">no deseo registrarme</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="window registration">
            <div class="userdata">
                <div class="photo"></div>
                <div class="welcome-message"><span class="hello">Hola</span><span class="name">Pamela Rojas</span></div>
                <div class="separator"></div>
            </div>
            <div class="registration-form">
                <div class="message">¡Completa esta ficha <br/>con tus datos y participa!</div>
                <div class="form">
                    <form class="form-registration">
                        <input class="first-name text required alpha" name="first-name" type="text"
                               placeholder="Nombres" minlength="4" maxlength="200"/>
                        <input class="last-name text required alpha" name="last-name" placeholder="Apellidos"
                               type="text" minlength="4" maxlength="200"/>
                    <input class="phone text required digits" name="phone" placeholder="Teléfono" type="text"
                           minlength="6" maxlength="9"/>
                    <input class="email text required email" name="email" placeholder="Correo electrónico" type="text"
                           minlength="4" maxlength="200"/>
                    <input class="dni text required digits" name="dni" placeholder="Documento de Identidad" type="text"
                           minlength="8" maxlength="13"/>

                        <div class="birthdate">
                            <div class="message-date">Fecha de nacimiento</div>
                        <input class="day text required digits" name="day" type="text" placeholder="DD" minlength="2"
                               maxlength="2"/>
                        <input class="month text required digits" name="month" type="text" placeholder="MM"
                               minlength="2" maxlength="2"/>
                        <input class="year text required digits" name="year" type="text" placeholder="AAAA"
                               minlength="4" maxlength="4"/>
                        </div>
                        <input class="country text required alpha" name="country" placeholder="País" type="text" readonly/>
                        <input class="country-id" name="country-id" type="hidden"/>
                    <input class="city text required" name="city" placeholder="Ciudad" type="text" minlength="4"
                           maxlength="200"/>
                    <input class="address text required" name="address" placeholder="Dirección" type="text"
                           minlength="4" maxlength="200"/>

                    <div class="checkbox"><input class="toc required checkbox" type="checkbox" name="toc"
                                                 id="toc"><label for="toc">He leído y
                            acepto los términos y
                            condiciones</label></div>
                    <label class="checkbox"><input class="promotions" type="checkbox" name="promotions"/>Me gustaría
                        recibir
                            información
                            de promociones y la marca
                            Kotex</label>
                        <input class="message-type" name="message-type" type="hidden"/>
                        <input class="message-text" name="message-text" type="hidden"/>

                        <div class="actions">
                            <a class="cancel" href="javascript:void(0)"></a>
                            <a class="continue" href="javascript:void(0)"></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="window share">
            <div class="share-wrapper preview-1" id="share-wrapper">
                <div class="text">AHORA PUEDO SENTARME COMO QUIERA!</div>
            </div>
            <div class="phrase">¡Ahora que has creado tus reglas <strong>es momento de vivirlas!</strong></div>
            <div class="social">
                <div class="slogan"></div>
                <a class="facebook" href="javascript:void(0)"></a>
                <a class="twitter" href="javascript:void(0)"></a>
            <a class="pinterest"
               href="javascript:void((function()%7Bvar%20e=document.createElement(&apos;script&apos;);e.setAttribute(&apos;type&apos;,&apos;text/javascript&apos;);e.setAttribute(&apos;charset&apos;,&apos;UTF-8&apos;);e.setAttribute(&apos;src&apos;,&apos;http://assets.pinterest.com/js/pinmarklet.js?r=&apos;+Math.random()*99999999);document.body.appendChild(e)%7D)());">
                    <img src="img/_imagen-ejemplo.jpg" title="AHORA PUEDO SENTIRRME COMO QUIERA!" />
                </a>
            </div>
            <a class="no-share" href="javascript:void(0)"></a>
        </div>
        <div class="window thanks">
            <div class="text"><span class="top">Tu regla ha sido creada. Ahora empieza a vivirla.</span> #PasaLaVoz a tus amigas para que ellas también puedan vivir sus propias reglas.
            </div>
            <a class="create" href="javascript:void(0)"></a>
        </div>
        <div class="window video">
            <div class="object-video"></div>
            <span class="close"></span>
        </div>
    </div>

    <!--MODAL GALERIA-->
    <div class="wrap-overlay2">
        <div class="overlay"></div>
        <div class="cmain" >
            <div class="window share">
                <div class="share-wrapper preview-1" id="share-wrapper">
                    <div class="text">AHORA PUEDO SENTARME COMO QUIERA!</div>
                </div>
                <div class="phrase">¡Comparte la regla <strong>y comienza a vivirla!</strong></div>
                <div class="social">
                    <div class="slogan"></div>
                    <a class="facebook2" href="javascript:void(0)"></a>
                    <a class="twitter2" href="javascript:void(0)"></a>
                    <a class="pinterest2"  href="">
                        <img src="img/_imagen-ejemplo.jpg" title="AHORA PUEDO SENTARME COMO QUIERA!" />
                    </a>
                </div>
                <a class="cerrar" href="javascript:void(0)"></a>
            </div>
        </div>
    </div>
</div>
<div id="fb-root"></div>
<script src="js/vendor/jquery-1.10.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script src="js/plugins.js"></script>
<script src="js/vendor/jquery.ascensor.js"></script>
<script src="js/vendor/jquery-validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/bgstretcher.js"></script>
<script>
    var userId='@ViewBag.UserId';
</script>
<script>
    window.fbAsyncInit = function () {
        FB.init({ appId: '1508928215999294', status: true, cookie: true, xfbml: true, oauth: true });
    };
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/es_ES/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>
    <script src="js/main.js"></script>
    <script src="http://html2canvas.hertzen.com/build/html2canvas.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    //    (function (b, o, i, l, e, r) {
    //        b.GoogleAnalyticsObject = l;
    //        b[l] || (b[l] =
    //                function () {
    //                    (b[l].q = b[l].q || []).push(arguments)
    //                });
    //        b[l].l = +new Date;
    //        e = o.createElement(i);
    //        r = o.getElementsByTagName(i)[0];
    //        e.src = '//www.google-analytics.com/analytics.js';
    //        r.parentNode.insertBefore(e, r)
    //    }(window, document, 'script', 'ga'));
    //    ga('create', 'UA-XXXXX-X');
    //    ga('send', 'pageview');
</script>
    <script type="text/javascript">
        $(document).ready(function(){
            if ($.browser.version == '8.0') {
                $(".section .video").bgStretcher({
                    images: ['img/video-bg.jpg'], imageWidth: 1366, imageHeight: 643
                });
            }
        });
    </script>
</body>
</html>
